<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterPage</title>
</head>
<body>

    <h1 align = "center">หน้าล็อกอิน</h1>
    
    <form method="POST" action="/register" align = "center">
        <div>
            <label for="fullname">ชื่อจริง</label>
            <input type="text" id="fullname" name="fullname" placeholder="ป้อนชื่อของคุณ">
        </div>
        <div>
            <label for="username">username</label>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>
        <div>
            <button type="submit">บันทึกข้อมูล</button>
        </div>
    </form>
    
</body>
</html>