body{
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A1832;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
}


nav {
    display: flex;
    align-items: center;
    gap: 240px;
}


nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}


nav h4{
    margin: 8px 0 0 0;
    font-weight: normal;
}


nav a div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav a:hover{
    transform: scale(1.05);
}

div.Logo-login{
    background-color: white;
    border-radius: 100%;
}